* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color1: rgb(103, 67, 64);
  --color2: beige;
  --color3: white;
  --color4: azure;
  --color5: rgba(16, 183, 8, 0.733);
  --color6: rgb(36, 57, 161);
  --color7: rgba(42, 53, 57, 0.525);
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background: var(--color7);
}

header {
  position: absolute;
  top: 10%;
}

header h1 {
  color: var(--color6);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
}

/* main */

.content {
  display: flex;
  justify-content: center;
  width: 500px;
  height: 500px;
  border: 4px solid var(--color3);
  margin-top: 150px;
  background-color: rgb(155, 106, 128);
  border-radius: 8px;
  box-shadow: 1.5px 1px 4px 1px rgb(67, 43, 43);
}

.add-task-button {
  width: 300px;
  max-height: 30px;
  margin-top: 15px;
  font-size: 15px;
  font-family: "Times New Roman", Times, serif;
  color: var(--color4);
  background-color: var(--color5);
  border: 1px solid var(--color3);
}

/* modal */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: solid 1px black;
  border-radius: 10px;
  z-index: 30;
  background-color: rgb(30, 145, 228);
  width: 300px;
  max-width: 80%;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.modal-header .modal-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-header .modal-close {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.75rem;
  font-weight: bold;
  color: rgb(234, 9, 9);
}

/* modal body */
.modal-body {
  padding: 10px 15px;
}

/* form */
.input-task {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

.input-task label {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: rgba(57, 57, 57, 0.79);
  margin: 10px 0 3px 0;
}

.input-task input {
  height: 30px;
  max-width: 400px;
  border: none;
  border-radius: 5px;
  padding: 4px 7px;
}

.input-task textarea {
  height: 100px;
  resize: none;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  padding: 4px 7px;
}

.form-button {
  display: flex;
  justify-content: space-evenly;
  margin: 8px 0 1px;
  padding: 3px;
}

.input-task button {
  height: 30px;
  width: 100px;
  max-width: 100px;
  /* margin: 0 55px; */
  border: none;
  cursor: pointer;
  border-radius: 6px;
  box-shadow: 1px 1.5px 5px 1px;
}

.input-task #cancel-task {
  background-color: rgb(250, 27, 27);
}

.input-task #submit-task {
  background-color: rgb(21, 235, 10);
}

#overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
  transition: 200ms ease-in-out;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

.task-list-content {
  position: fixed;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 450px;
  height: 400px;
  top: 62%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px;
  overflow: auto;
  gap: 1rem;
}

.todo-list-cont-js {
  display: flex;
  justify-content: space-between;
  border-bottom: 4px double rgb(2, 51, 5);
  padding-bottom: 10px;
  gap: 1rem;
}

.todo-list-js-pdiv {
  border: 1px solid black;
  overflow: auto;
}

.todo-list-p-js {
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 17px;
  color: rgb(30, 18, 18);
}

.todo-list-js {
  color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.todo-list-js-btndiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  align-items: center;
}

.todo-list-btn-js {
  height: 30px;
  width: 100px;
  cursor: pointer;
  border: none;
  border-radius: 7px;
  color: rgb(246, 246, 235);
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.todo-list-js-btndiv .update {
  text-align: center;
  padding: 3px;
  background-color: rgba(63, 135, 242, 0.789);
}

.todo-list-js-btndiv .delete {
  text-align: center;
  padding: 3px;
  background-color: rgba(241, 17, 17, 0.789);
}
